{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .question{
            display: none;
        }
        </style>
</head>

<body>
    <div class="start">
        <h1>개발자 MBTI 테스트</h1>
        <button type="button" onclick='start();'>시작</button>
    </div>

    <div class="question">
        <div>
            <h1 class="q-num">Q1</h1>
            <p class="progress-txt">1/12</p>
        </div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <h2 id="title">1번 문제</h2>
        <!-- 1번 -->
        <input id="type" type="hidden" value="EI">
        <!-- 2번 -->
        <button id="A" type="button">대답 E</button>
        <button id="B" type="button">대답 I</button>
    </div>
    <!-- 3번 -->
    <input type="hidden" id="EI" value="0">
    <input type="hidden" id="SN" value="0">
    <input type="hidden" id="TF" value="0">
    <input type="hidden" id="JP" value="0">

</body>
</html>
{% endblock %}