<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
    <style>
        .question{
            display: none;
        }
    </style>
</head>

<body>
    <div class="start">
        <h1>개발자 MBTI 테스트</h1>
        <button type="button" onclick='start();'>시작</button>
    </div>

    <div class="question">
        <div>
            <h1 class="q-num">Q1</h1>
            <p class="progress-txt">1/12</p>
        </div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <h2 id="title">1번 문제</h2>
        <!-- 1번 -->
        <input id="type" type="hidden" value="EI">
        <!-- 2번 -->
        <button id="A" type="button">대답 E</button>
        <button id="B" type="button">대답 I</button>
    </div>
    <!-- 3번 -->
    <input type="hidden" id="EI" value="0">
    <input type="hidden" id="SN" value="0">
    <input type="hidden" id="TF" value="0">
    <input type="hidden" id="JP" value="0">
    
    <script>
        var num = 1;
        var q = {
            1: {"title": "1번 문제","type": "EI", "A": "집 가서 쉬어야지…", "B": "술먹자!!"},
            2: {"title": "2번 문제","type": "EI", "A": "대답 E", "B": "대답 I"},
            3: {"title": "3번 문제","type": "EI", "A": "대답 E", "B": "대답 I"},
            4: {"title": "4번 문제","type": "SN", "A": "대답 S", "B": "대답 N"},
            5: {"title": "5번 문제","type": "SN", "A": "대답 S", "B": "대답 N"},
            6: {"title": "6번 문제","type": "SN", "A": "대답 S", "B": "대답 N"},
            7: {"title": "7번 문제","type": "TF", "A": "대답 T", "B": "대답 F"},
            8: {"title": "8번 문제","type": "TF", "A": "대답 T", "B": "대답 F"},
            9: {"title": "9번 문제","type": "TF", "A": "대답 T", "B": "대답 F"},
            10: {"title": "10번 문제","type": "JP", "A": "대답 J", "B": "대답 P"},
            11: {"title": "11번 문제","type": "JP", "A": "대답 J", "B": "대답 P"},
            12: {"title": "12번 문제","type": "JP", "A": "대답 J", "B": "대답 P"}
        }

        function start() {
            $(".start").hide();
            $(".question").show();
            $(".pr").show();
            next();
        }

        $("#A").click(function () {
            var type = $("#type").val();
            var preValue = $("#" + type).val();
            $("#" + type).val(parseInt(preValue) + 1);
            next();
        });
        $("#B").click(function () {
            next();
        });

        function next() {
            if (num == 13){
                var mbti = "";
                ($("#EI"). val() < 2) ? mbti += "I" : mbti += "E";
                ($("#SN"). val() < 2) ? mbti += "N" : mbti += "S";
                ($("#TF"). val() < 2) ? mbti += "F" : mbti += "T";
                ($("#JP"). val() < 2) ? mbti += "P" : mbti += "J";

                window.location.href = "./result/" + mbti;
            }else {
                $(".q-num").html("Q" + num);
                $(".progress-txt").html(num + ' / 12');
                $(".progress-bar").attr('style', 'width: calc(100/12*' + num + '%)');
                $("#title").html(q[num]["title"]);
                $("#type").val(q[num]["type"]);
                $("#A").html(q[num]["A"]);
                $("#B").html(q[num]["B"]);
                num++;
            }
        }       
    </script>
</body>
</html>