{% extends 'layout.html' %}
{% block content %}
<body class="content">
    <div class="start">
        <div>
            <p class="stitle">개발자 테스트</p>
        </div>
        <div>
            <img src="/static/picture/mbtistart.png" alt="캐릭터 이미지">
        </div>
        <div class="shtadf">
            <button class="btn" type="button" onclick='start();'>시작하기</button>
        </div>
    <hr>
        <footer>
            ⓒ 2023 insight django project
        </footer>
    </div>
    <div class="shsd">
        <div class="question" style="display: none;">
            <div class="shsdd">
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="haeb">
                    <div class="qud" id="title">1번 문제</div>
                </div>
                <!-- <h2 class="qud haeb" id="title">1번 문제</h2> -->
                <!-- 1번 -->
                <input id="type" type="hidden" value="EI">
                <!-- 2번 -->
                <div class="qdsd">
                    <a><button class="answer" id="A" type="button">대답 E</button></a>
                    <a><button class="answer" id="B" type="button">대답 I</button></a>
                </div>
                <div id="coount">
                    <p class="progress-txt">1/12</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 3번 -->
    <input type="hidden" id="EI" value="0">
    <input type="hidden" id="SN" value="0">
    <input type="hidden" id="TF" value="0">
    <input type="hidden" id="JP" value="0">
</body>
</html>
{% endblock %}