{% extends 'layout.html' %}
{% block content %}
<head>
    <title>1번 질문</title>
</head>
<body>
    <div class="question">
        <h2 id="title">일과가 끝났다 나의 행동은?</h2>
        <!--1번-->
        <input id="type" type="hidden" value="EI">
        <!--2번-->
        <button id="A" type="button">술 먹자!!!</button>
        <button id="B" type="button">집 가서 쉬어야지...</button>
     </div>
        <!--3번-->
        <input type="hidden" id="EI" value="0">
        <input type="hidden" id="SN" value="0">
        <input type="hidden" id="TF" value="0">
        <input type="hidden" id="JP" value="0">
    
</body>
{% endblock %}