{% extends 'layout.html' %}
{% block content %}
<head>
    <title>3번째 질문</title>
</head>

<body>
    <div class="shsd">
        <div class="shsdd">
            <div class="haeb">
                <div class="qud">시험이 다가오는데<br>공부가 손에 안잡힌다면?</div>
            </div>
            <form method="post">
                <br>
                <div class="qdsd">
                    <a href="{% url 'insight:fourth_question' %}">
                        <div class="answer">집 가서 쉬어야지..</div>
                    </a>
                    <a href="{% url 'insight:fourth_question' %}">
                        <div class="answer mt-5" style="padding:40px">오늘 술마시고, 내일의 내가 알아서 하겠지라는 생각을 한다.</div>
                    </a>
                </div>
            </form>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4 d-flex justify-content-start">
                    <a href="{% url 'insight:second_question' %}">&lt;이전</a>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    3/12
                </div>
            </div>
    </div>
</body>
{% endblock %}