{% extends 'layout.html' %}
{% block content %}
<head>
    <title>1번 질문</title>
</head>
<body>
    <div class="shsd">
        <div class="shsdd">
            <div class="haeb">
                <div class="qud">수업이 끝났다 나의 행동은?</div>
            </div>
            <form method="post">
                <div class="qdsd">
                    <a href="{% url 'insight:second_question' %}">
                        <div class="answer">집 가서 쉬어야지..</div>
                    </a>
                    <br>
                    <a href="{% url 'insight:second_question' %}">
                        <div class="answer" style="margin-top: 20px;">수업 끝났다 술 묵자!!</div>
                    </a>
                </div>
            </form>
            <div class="row row-cols">
                <div class="d-flex justify-content-center">
                    1/12
                </div>
            </div>
        </div>
    </div>
    
</body>
{% endblock %}