*{
    background-color: #001C30;
    font-family: 'BMJUA';
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.start{
  color:white;
  justify-content:center;
}
.startbtn{
  color: #001C30;
  background-color: #DDE6ED;
  width: 240px;
  height: 60px;
  border-radius: 5px #001C30;
}