*{
    background-color: #001C30;
    font-family: 'BMJUA';
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.shsd{
    position: absolute;
    height: fit-content;
    inset: 0px;
    /* 페이지 전체 내용 */
}

.content{
    text-align: center;
    /*페이지 안의 내용*/
}

.shtadf{
    margin-top: 400px;
    /* 시작 버튼 위치 옮기기 이미지 넣고 위치 수정 필요 */
}

a{
    text-decoration: none;
}

.btn{
    width: 240px;
    height: 60px;
    color: #001C30;
    background-color: #DDE6ED;
    border: 3px solid #001C30;
    border-radius: 5px;
    font-size: 32px;
    text-align: center;
    /*시작 버튼*/
}

.btn:hover{
    background-color: #839eb3;
    color: #001C30;
}

footer{
    width: 100%;
    position: relative;
    clear: both;
    color: white;
    text-align: center;
}

/* 위에는 메인 페이지 스타일 */
.shsdd{
    max-width: 500px;
    width: 70%;
    margin: 150px auto 150px;
    /* 전체 페이지 안에서 내용 위치*/
}

.haeb{
    padding-top: 60px;
    /*제일 위의 질문*/
}

.row, a{
    font-size: 24px;
    color: #EFEFEF;
}

.col{
    font-size: 24px;
    color: #EFEFEF;
}

.coount a{
    font-size: 24px;
    text-align: center;
    color: #EFEFEF;
    /*페이지 카운트 이전 글자 크기*/
}


.qud{
    width: 500px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    color: #EFEFEF;
    margin-bottom: 50px;
    /*제일 위 질문 내용의 글자*/
}

.qdsd{
    /*답변 할 수 있는 버튼들 묶음*/
    display: block;
    /* margin-bottom: 30px; */
}

.answer{
    /*답변하는 버튼 내용*/
    font-size: 32px;
    width: auto;
    height: 180px;
    background-color: #DDE6ED;
    color: #001C30;
    border: 3px solid #001C30;
    border-radius: 20px;
    padding: 65px;
    text-align: center;
    margin-top: 20px;
}

/* 모바일 화면에서의 스타일 */
@media (max-width: 768px) {
    .qud{
        font-size: 32px;
    }


    .qdsd {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .answer {
        width: 300px;
        max-width: 300px; /* 최대 너비 설정 */
        height: auto; /* 내용에 맞게 높이 자동 조정 */
        padding: 20px; /*내용과의 간격 설정 */
        font-size: 24px; /* 폰트 크기 조정 */
        text-align: center;
        margin: 10px 0; /* 간격 설정 */
    }

    .row, a{
        font-size: 20px;
        height: auto;
    }

    .shsd.shsdd.row div{
        column-gap: 0px;
    }
}

.question {
    display: none;
}
