textarea {
    width: 100%
}
* {
    font-family: 'BMJUA';

}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1 , h2,h3{
    color: wheat;
}

h1{
    text-align: center;
}

.btn {
    border: 3px solid white;
    background-color: black;
    font-style: white;
    font: white;
    font-size: 50px;
    display: inline-block;
    
    padding: 20px;
 

} 

a{
    color: white;
    text-decoration: none;
}

body{background-color: black;}